/.idea
/.temp
/.vscode
/.vagrant
/export
/nbproject
/node_modules
/vendor
/atlassian-ide-plugin.xml
/composer.phar
/package-lock.json

# all
#------------------------------------

*.log*
.DS_Store
thumbs.db
*.ipr
*.iws
